@import '../home/home.module.scss';

.main {
    margin-top: 202px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

    @media (max-width: 990px) {
        display: block;
    }
}

.contact {
    margin-right: 200px;

    @media (max-width: 990px) {
        margin: 40px 0 0 0;
    }
}