@import '../signUp/signUp.module.scss';

.buttons {
    display: flex;
}

.avatar {
    width: 107px;
    height: 107px;
    object-fit: cover;
    border-radius: 50%;
}

.button__remove {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.delete {
    border: none;
    background-color: inherit;
    color: red;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin-top: 10px;
}

.btn__avatar {
    background: none;
    border: none;
    cursor: pointer;
}