textarea {
    resize: none;
}

.text {
    width: 248px;
    border: none;
    background-color: #0E0E0E;
    color: #fff;
    padding: 15px 0 15px 15px;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
}

.contact {
    text-align: center;
    margin-top: 25px;
}

.button {
    background-color: #1DAEFF;
    color: #fff;
    border: none;
    padding: 11px 85px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}