.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1450px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../../assets/background/bg.jpg) center no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

.intro__title {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    max-width: 805px;
}