@import '../../pages/home/home.module.scss';

.contact_styles {
    height: 726px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: space-between;

    @media (max-width: 680px) {
        display: block;
    }
    @media(max-width: 500px) {
        margin-top: 160px;
    }
}

.text {
    color: #FFFBFB;
    opacity: .65;
    font-size: 32px;
    max-width: 571px;
}

.title_blue {
    color: #1DAEFF;
}

.form__group {
    display: flex;
    margin-bottom: 64px;

    .form__field {
        border: none;
        outline: 0;
        padding: 6px 0;
        margin-left: 15px;
        background-color: transparent;
        border-bottom: 1px solid #FFFBFB;
        color: #FFFBFB;
        width: 227px;
        font-size: 16px;

        &:focus {
            border-bottom: 1px solid #1DAEFF;
        }

        @media (max-width: 680px) {
            margin: 30px 20px 0 0;
            width: 150px;
        }
    }
    .button {
        background-color: #1DAEFF;
        color: #fff;
        font-family: 'Inter', sans-serif;
        padding: 11px 36px;
        border-radius: 5px;
        margin-left: 15px;
        cursor: pointer;
        border: 0;

        @media (max-width: 680px) {
            margin-left: 0;
        }
    }
}

@media (max-width: 990px) {
    .intro__title {
        font-size: 40px;
    }  
    .text {
        font-size: 20px;
    }     
}