.menu{
    text-align: right;
    width: 100%;
    z-index: 200;
    @media (min-width: 1120px) {
        display: none;
    }
}

#check{
    display: none;

    &:checked ~ .button {
        background-color: #0000000e;
        border-radius: 50%;
    }

    &:checked ~ nav{
        background-color: #1414147e;
        backdrop-filter: blur(3px);
        touch-action: none;
        overscroll-behavior: none;
        overflow-y: hidden;
    }

    &:checked ~ nav {
        position: fixed;
        display: block;
    }
    
    &:checked ~ nav a{
        padding: 10px;
        opacity: 1;
        transform: scale(1);
    }
}

.button {
    width: 30px;
    height: 30px;
    display: block;
    line-height: 8px;
    text-align: left;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px 13px 10px;
    z-index: 201;
}

.button {
    span {
        height: 3px;
        width: 30px;
        background: #fff;
        display: inline-block;
        z-index: 4000;
    }
}

nav{
    text-align: left;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .a{
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 18px;
        opacity: 0;
        transform: scale(0);
        transform-origin: top;
        text-align: center;
        width: 130px;
        margin: 17px auto;

        &:first-child {
            margin-top: 84px;
        }
    }
}